*
	margin: 0
	padding: 0
h1
	color: #fff
header
	background-color: yellow
	position: fixed
	min-width: 25vw
	min-height: 100%
section
	background-color: blue
	min-width: 75vw
	min-height: 100vh
main
	margin-left: 25vw